:root[color-mode="dark"] {
    --surface1: #262626;
    --surface2: #333333;
    --surface3: #404040;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary: #eee8a9;
}